/*----------------------------------------Fonts-------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree Serif");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #dde8f3;
}

html {
  scroll-behavior: smooth;
}
.back-button {
  position: absolute;
  top: 50;
  left: 0;
  padding: 10px;
}
.back-button a img {
  width: 60px;
  height: 60px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
/*----------------------------------------------Nav Bar----------------------------------------------*/

nav {
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
  font-family: "Open Sans", sans-serif;
}
nav .logo {
  margin-left: -72px;
  display: flex;
  font-size: 26px;
  color: white;
}

nav .logo h4 {
  margin: 10px;
  font-weight: 100;
}
nav .logo img {
  height: 46px;
  width: 48px;
  margin-top: 5px;
  filter: invert(100%);
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 7px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active {
  background: white;
  color: black;
}
nav ul li {
  margin: 0 7px;
}
nav .menu-btn i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
#click:checked ~ .menu-btn i::before {
  content: "\f00d";
}
#click {
  display: none;
}
#click:checked ~ ul {
  left: 0%;
}
@media (max-width: 940px) {
  nav ul {
    position: fixed;
    top: 60px;
    left: -100%;
    background-color: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 20px;
    display: block;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: cyan;
  }
  nav .menu-btn i {
    display: block;
  }
}
/*---------------------------------FAQ-----------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}

.course {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 1100px;
  padding: 15px;
  margin: 15px;
}

.course h6 {
  opacity: 0.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 17px;
  color: #bb8fce;
}

.course h4 {
  letter-spacing: 1px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

.course h2 {
  margin: 10px 0;
}

.preview {
  background: #083b58;
  color: #fff;
  padding: 30px;
  position: relative;
  margin-right: 10px;
  border-radius: 15px;
}

.info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.info p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 867px) {
  .course {
    flex-direction: column;
    width: 100%;
  }

  .preview {
    width: 100%;
  }

  .info p {
    margin-bottom: 50px;
  }
}

/*----------------------------------------------FOOTER---------------------------------------------------*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.container .row .footer-col ul {
  list-style: none;
}
footer {
  background-color: #24262b;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}
.footer-col {
  width: 33.33%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}
.footer-col ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 4px;
}

.footer-col p {
  color: #bbbbbb;
  align-self: auto;
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .footer-col {
    width: 100%;
  }
}
