<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <title>Buy Medicine</title>
    <link rel="stylesheet" href="/static/css/buy.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        a{
            position: relative;
            font-size: 22px;
            font-weight: 100;
            color: rgb(114, 28, 114);
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
    </style>
  </head>

  <body>
    <div class="back-button">
      <a href="/medicine">
        <img src="/static/images/back.png" alt="" />
      </a>
    </div>
    <div class="container">
      <h1>Buy Immunity Boosters Supplies</h1>

      <form action="#" method="POST">
        <div class="form-row">
          <div class="input-data">
            <input type="text" name="buyer_name" required />
            <div class="underline"></div>
            <label for="buyer_name">Enter your name</label>
          </div>
        </div>
        
        
        <!--Booster-->
        <div class="input2">
          <label for="" class="labels">SELECT IMMUNITY BOOSTER</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Limcee"
            name="buyer_immunity_boosters"
            value="Limcee Vitamin C Plus"
          />
          <label class="form-check-label" for="Limcee">
            Limcee Vitamin C Plus
          </label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Helthoxide"
            name="buyer_immunity_boosters"
            value="Helthoxide Ascorbic Acid"
          />
          <label class="form-check-label" for="Helthoxide"
            >Helthoxide Ascorbic Acid
          </label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Dexamethasone"
            name="buyer_immunity_boosters"
            value="Dexamethasone Tablet"
          />
          <label class="form-check-label" for="Dexamethasone"
            >Dexamethasone Table</label
          >
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Life"
            name="buyer_immunity_boosters"
            value="vitamin-c"
          />
          <label class="form-check-label" for="Lifee"
            >Life-C Vitamin C, Vitamin D3 And Zinc Chewable Tablets</label
          >
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Ziverdo"
            name="buyer_immunity_boosters"
            value="Ziverdo Kit"
          />
          <label class="form-check-label" for="Ziverdo"
            >Ziverdo Kit(Zinc Acetate,Doxycycline Tablets)</label
          >
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Zinc"
            name="buyer_immunity_boosters"
            value="Zinc Sulphate Tablets"
          />
          <label class="form-check-label" for="Zinc"
            >Zinc Sulphate Tablets (Acwis-Z)</label
          >
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Zincovit"
            name="buyer_immunity_boosters"
            value="Zincovit Tablets"
          />
          <label class="form-check-label" for="Zincovit"
            >Zincovit Tablets
          </label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Ornithine"
            name="buyer_immunity_boosters"
            value="L-Ornithine"
          />
          <label class="form-check-label" for="Ornithine"
            >L-Ornithine - I- Aspartate Tricholine Multivitamin Syrup
          </label>
        </div>
        <br>
        <div class="input3">
          <label for="" class="labels"
            >SELECT YOUR DISTRICT IN MAHARASHTRA</label
          >
        </div>
        
        <div class="list1">
          <label for="buyer_district"></label>
          <select id="District" name="buyer_district" required>
            <option value="">Choose District</option>
            <option value="Ahmadnagar">Ahmadnagar</option>
            <option value="Akola">Akola</option>
            <option value="Amravati">Amravati</option>
            <option value="Aurangabad">Aurangabad</option>
            <option value="Bhandara">Bhandara</option>
            <option value="Beed">Beed</option>
            <option value="Buldhana">Buldhana</option>
            <option value="Chandrapur">Chandrapur</option>
            <option value="Dhule">Dhule</option>
            <option value="GadChiroli">GadChiroli</option>
            <option value="Gondiya">Gondiya</option>
            <option value="Hingoli">Hingoli</option>
            <option value="Jalgaon">Jalgaon</option>
            <option value="Jalna">Jalna</option>
            <option value="Kolhapur">Kolhapur</option>
            <option value="Latur">Latur</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Mumbai Suburban">Mumbai Suburban</option>
            <option value="Nagpur">Nagpur</option>
            <option value="Nanded">Nanded</option>
            <option value="Nandurbar">Nandurbar</option>
            <option value="Nashik">Nashik</option>
            <option value="Osmanabad">Osmanabad</option>
            <option value="Parbhani">Parbhani</option>
            <option value="Pune">Pune</option>
            <option value="Raigad">Raigad</option>
            <option value="Ratnagiri">Ratnagiri</option>
            <option value="Sangli">Sangli</option>
            <option value="Satara">Satara</option>
            <option value="Sindhudurg">Sindhudurg</option>
            <option value="Solapur">Solapur</option>
            <option value="Thane">Thane</option>
            <option value="Wardha">Wardha</option>
            <option value="Washim">Washim</option>
            <option value="Yavatmal">Yavatmal</option>
          </select>
        </div>
    
        <div class="form-row submit-btn center-align">
          <div class="input-data">
            <div class="inner"></div>
            <input type="submit" value="Submit" />
          </div>
          <div class="input-data">
            <div class="inner"></div>
            <input type="reset" value="Reset" />
          </div>
        </div>
        <a href="/buy">Click here to buy the Medicines >></a>
      </form>
    </div>
  </body>
</html>
