<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="/static/css/FAQ.css">
  <link
  rel="shortcut icon"
  href="/static/images/favicon.png"
  type="image/x-icon"
/>
<script
      src="https://kit.fontawesome.com/da8beb7649.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
  <!---------NAVBAR------>

  <nav>
    <div class="logo">
      <img src="/static/images/covidlogo.png" alt="" class="logoimg" />
      <h4>Covid Portal</h4>
    </div>
    <input type="checkbox" name="" id="click" />
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a href="/" >Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/vaccination" class="active">Vaccination</a></li>
      <li><a href="/tracker">Track Covid-19</a></li>
      <li><a href="/medicine">Medicine</a></li>
    </ul>
  </nav>
  <!-- back button -->
  <div class="back-button">
    <a href="/vaccination">
       <img src="/static/images/back.png" alt="">
   </a>
 </div>
  <!----------------FAQ-------------------->
  <div class="container">
    <div class="course newcourse">
      <div class="preview">
        <h6>Question</h6>
        <h4>1. Where can I register for COVID-19 vaccination?</h4>
      </div>
      <div class="info">

        <h6>Answer</h6>
        <p class="p-trunk"> You can log into the Co-WIN portal using the link www.cowin.gov.in and click on the
          “Register/Sign In Yourself” tab to register for COVID-19 vaccination.</p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>2. Is there a mobile app that needs to be installed <br>to register for
          vaccination?</h4>
      </div>
      <div class="info">

        <h6>Answer</h6>
        <p class="p-trunk">There is no authorised mobile app for registering for vaccination in India. You need to log
          into
          the Co-WIN portal. You can also register for vaccination through the ArogyaSetu App.</p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>3. Which age groups can register for vaccination<br> on the Co-WIN portal?</h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p class="p-trunk"> At present all citizens above 60 years of age and those between the age of 45 and a 59 years
          with one of the specified comorbidities can register for vaccination.</p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>4. Is online registration mandatory for Covid 19 <br>vaccination?</h4>
      </div>
      <div class="info">

        <h6>Answer</h6>
        <p> No. Vaccination Centres also provide for a limited number of on-spot registration slots every
          day. However, it is recommended to register online and schedule vaccination in advance for
          a hassle-free vaccination experience.</p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>5. How many people can be registered <br>in Co-WIN portal through one mobile
          number?</h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p> Up to 4 people can be registered for vaccination using the same mobile number.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>6. How can citizens manage online registration<br> without any source?</h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p>Up to 4 people can be registered for vaccination using the same mobile number. Citizens can
          take help from friends or family for online registration. Your own feature phone can also be
          used to register through a smart phone of your friend or registration on the Portal.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>7. Can I book an appointment for vaccination in<br> the Co-WIN portal?</h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p> Yes, you can book appointment for vaccination through Co-WIN portal after logging-in in the Co-WIN Portal
          through your registered mobile number.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>8. Can I download appointment slip apropriatly?</h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p> You can search in Co-WIN portal (or Aarogya Setu) for the vaccination centre nearest to your location by
          either searching through PIN code or by choosing the State and the District.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>9. How can I find the nearest vaccination centre?</h4>
        </h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        You can search in Co-WIN portal (or Aarogya Setu) for the vaccination centre nearest to your location by
        either searching through PIN code or by choosing the State and the District.
        <p>
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>10. What if I cannot go for vaccination on the date of <br>appointment? Can I reschedule my
          appointment?</h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p>The appointment can be rescheduled at any time. In case you do not go for vaccination on the date of
          appointment, you can reschedule the appointment by clicking on “Reschedule” tab.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>11. Do I have an option for cancellation of the appoint-<br>ment?</h4>
        </h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p>Yes, you can cancel an appointment already scheduled. You can also reschedule the appointment and choose
          another date or time slot of your convenience.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>12. Where will I receive confirmation of date and time<br> of vaccination?</h4>
        <h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p>Once an appointment is scheduled, you will receive the details of the vaccination centre, date and time slot
          chosen for appointment in an SMS sent to your registered mobile number. You can also download the
          appointment slip and print it or keep it on your smart phone.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>13. Is it necessary to take 2nd dose of the vaccination?<h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p>Yes. It is recommended that both doses of vaccine should be taken for realising the full benefit of
          vaccination. Both doses must be of the same vaccine type.
        </p>
      </div>
    </div>
    <div class="course">
      <div class="preview">
        <h6>Question</h6>
        <h4>14. When should I take the 2nd dose of vaccination?<h4>
      </div>
      <div class="info">
        <h6>Answer</h6>
        <p>It is recommended that the 2nd dose of COVAXIN should be administered in the interval of 4 to 6 weeks from
          the date of 1st dose administration. For COVISHIELD the recommended
          interval is 4 to 8 weeks. You may choose the date of 2nd dose vaccination as per your convenience.
        </p>
      </div>
    </div>
  </div>
<!---------FOOTER------>

    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>About Us</h4>
            <p>
              Covid Portal is a website that serves the purpose of informing the
              users about the latest details of covid-19, chatbot service
              developed for your questions on the virus, live covid trackers,
              vaccination details, and many more.
            </p>
            <p>
              Our main purpose is to help people know about the latest news and
              guidelines about the virus and providing verified information,
              guidelines and resources so that people can stay safe.
            </p>
          </div>
          <div class="footer-col">
            <h4>Navigate</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/vaccinatiom">Vaccination</a></li>
              <li><a href="/tracker">Track Covid-19</a></li>
              <li><a href="/medicine">Medicine</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact</h4>
            <ul>
              <li>
                <a
                  target="_top"
                  href="mailto:covidportal2021@gmail.com?subject=Regarding Covid Portal"
                  ><i class="far fa-envelope"></i> covidportal2021@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

</body>

</html>