<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Medicine</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/medicine.css" />
    <script
      src="https://kit.fontawesome.com/da8beb7649.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="Covid-19 Chatbot"
      agent-id="bf982501-c824-4d54-9831-8697e4b1c27a"
      chat-icon="https://assets.dryicons.com/uploads/icon/svg/6143/29a2b7cf-9413-45a3-8caf-bb973ab19dbc.svg"
      language-code="en"
    >
      <style>
        df-messenger {
          --df-messenger-bot-message: #d8d8da;
          --df-messenger-button-titlebar-color: #8bcac2;
          --df-messenger-chat-background-color: #fafafa;
          --df-messenger-font-color: white;
          --df-messenger-send-icon: #c2ebe8;
          --df-messenger-user-message: #7fbbb3;
          --df-messanger-send-icon: #558288;
        }
      </style>
    </df-messenger>
    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      //To minimise the height of chatbox
      $(document).ready(function () {
        window.addEventListener("dfMessengerLoaded", function (event) {
          $r1 = document.querySelector("df-messenger");
          $r2 = $r1.shadowRoot.querySelector("df-messenger-chat");
          $r3 = $r2.shadowRoot.querySelector("df-messenger-user-input"); //for other mods
          var sheet = new CSSStyleSheet();
          // manage box height from here
          sheet.replaceSync(
            `div.chat-wrapper[opened="true"] { height: 450px }`
          );
          $r2.shadowRoot.adoptedStyleSheets = [sheet];
        });
      });
    </script>
  </head>
  <body>
    <!-- Nav Bar -->
    <nav>
      <div class="logo">
        <img src="/static/images/covidlogo.png" alt="" class="logoimg" />
        <h4>Covid Portal</h4>
      </div>
      <input type="checkbox" name="" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/vaccination">Vaccination</a></li>
        <li><a href="/tracker">Track Covid-19</a></li>
        <li><a href="/medicine" class="active">Medicine</a></li>
      </ul>
    </nav>

    <div class="medicine-container">
      <!-- Main section -->
      <div class="main">
        <h1>
          Helping you find
          <span class="medicine-h1"> Medicine </span>
          supplies for Covid-19 Treatment
        </h1>
        <h2>- Connecting People, Saving Lives</h2>

        <a href="#card-section">Get Started</a>
      </div>
      <div id="card-section" class="cardcontainer">
        <div class="card">
          <div class="circle">
            <h1>Criteria for Sellers</h1>
          </div>
          <div class="content">
            <p>
              1. List medicine supplies related to covid-19 treatment (medicine,
              immunity boosters, etc.)
              <br />
              2. Enter your business details, product details and address
              details.
              <br />
              3. Complete your seller profile and buyers can see your profile.
              <br />
              4. Once your profile is created, buyers can contact you. <br />
            </p>
            <button>
              <a href="/register">Start Selling >></a>
            </button>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h1>Criteria for Buyers</h1>
          </div>
          <div class="content">
            <p>
              1. Tell us what you need by filling the form like type of
              medicines or immunity boosters required. <br />
              2. Receive Verified supplier details by location and your medicine
              requirement. <br />
              3. On the basis of your requirement, you will see medicine
              suppliers.
              <br />
              4. Once suppliers are upto your requirement, contact the seller.
            </p>
            <button>
              <a href="/buy">Start Buying >></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer  (medicine page)-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>About Us</h4>
            <p>
              Covid Portal is a website that serves the purpose of informing the
              users about the latest details of covid-19, chatbot service
              developed for your questions on the virus, live covid trackers,
              vaccination details, and many more.
            </p>
            <p>
              Our main purpose is to help people know about the latest news and
              guidelines about the virus and providing verified information,
              guidelines and resources so that people can stay safe.
            </p>
          </div>
          <div class="footer-col">
            <h4>Navigate</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/vaccination">Vaccination</a></li>
              <li><a href="/tracker">Track Covid-19</a></li>
              <li><a href="/medicine">Medicine</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact</h4>
            <ul>
              <li>
                <a
                  target="_top"
                  href="mailto:covidportal2021@gmail.com?subject=Regarding Covid Portal"
                  ><i class="far fa-envelope"></i> covidportal2021@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
