<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
    <link
    rel="shortcut icon"
    href="/static/images/favicon.png"
    type="image/x-icon"
  />

      <meta charset="utf-8">
      <title>Seller Account</title>
      <link rel="stylesheet" href="/static/css/register.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="back-button">
         <a href="/medicine">
            <img src="/static/images/back.png" alt="">
        </a>
      </div>
      <div class="container">
         <h1>Create a seller Account</h1>
      <div class="text">
         Enter Business Details
      </div>
      <form action="#" method="POST">
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="full_name" required>
               <div class="underline"></div>
               <label for="full_name">Enter Name</label>
            </div>
           
         </div>
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="company_name" required>
               <div class="underline"></div>
               <label for="company_name">Company/Business/Shop Name</label></br><br>
            </div>
         </div>

         <div class="text1">
            Enter Product Details
         </div>
        
            <div class="input1">
               <label for="">Select Medicines</label>
            </div>
         <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Tocilizumab" name="medicines" value="Tocilizumab" />
            <label class="form-check-label" for="Tocilizumab">
               Tocilizumab
               </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="FabiFlu" name="medicines" value="FabiFlu" />
            <label class="form-check-label" for="FabiFlu">FabiFlu
               </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Dexamethasone" name="medicines"  value="Dexamethasone Tablet"/>
            <label class="form-check-label" for="Dexamethasone">Dexamethasone Tablet</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="manga" name="medicines"  value="Azithral Tablet"/>
            <label class="form-check-label" for="Azithral">Azithral Tablet</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Dolo" name="medicines" value="Dolo 650 MG"/>
            <label class="form-check-label" for="Dolo">Dolo 650 MG</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Calpol" name="medicines" value="Calpol"/>
            <label class="form-check-label" for="Calpol">Calpol</label>
          </div>

          <!--Booster-->
          <div class="input2">
            <label for="">Select Immunity Boosters</label>
         </div>
      <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Limcee" name="immunity-boosters" value="Limcee Vitamin C Plus"/>
         <label class="form-check-label" for="Limcee">
            Limcee Vitamin C Plus
            </label>
       </div>
       <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Helthoxide" name="immunity-boosters" value="Helthoxide Ascorbic Acid"/>
         <label class="form-check-label" for="Helthoxide">Helthoxide Ascorbic Acid
            </label>
       </div>
       <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Dexamethasone" name="immunity-boosters" value="Dexamethasone Tablet"/>
         <label class="form-check-label" for="Dexamethasone">Dexamethasone Tablet</label>
       </div>
       <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Life" name="immunity-boosters" value="vitamin-c"/>
         <label class="form-check-label" for="Lifee">Life-C Vitamin C, Vitamin D3 And Zinc Chewable Tablets</label>
       </div>
       <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Ziverdo" name="immunity-boosters" value="Ziverdo Kit"/>
         <label class="form-check-label" for="Ziverdo">Ziverdo Kit(Zinc Acetate,Doxycycline Tablets)</label>
       </div>
       <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Zinc" name="immunity-boosters" value="Zinc Sulphate Tablets"/>
         <label class="form-check-label" for="Zinc">Zinc Sulphate Tablets (Acwis-Z)</label>
       </div>
       <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Zincovit" name="immunity-boosters" value="Zincovit Tablets"/>
         <label class="form-check-label" for="Zincovit">Zincovit Tablets
         </label>
       </div>
       <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Ornithine" name="immunity-boosters" value="L-Ornithine"/>
         <label class="form-check-label">L-Ornithine - I- Aspartate Tricholine Multivitamin Syrup
         </label>
       </div>
       <div class="form-row">
         <div class="input-data">
            <input type="text" name="other_med">
            <div class="underline"></div>
            <label for="other_med">Any Other Medicines</label></br><br>
         </div>
      </div>
       <div class="textt">
         Enter Address Details
      </div>
    
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="address"
               required>
               <div class="underline"></div>
               <label for="address">Address</label>
            </div>
            
         </div>
     
         <div class="input3">
            <label for="">Select Your District In Maharashtra</label>
         </div>
         <div class="list1">
         <label for="District"></label>
         <select id="District" name="district" required>
            <option value="">Choose District</option>
               <option value="Ahmadnagar">Ahmadnagar</option>
               <option value="Akola">Akola</option>
               <option value="Amravati">Amravati</option>
               <option value="Aurangabad">Aurangabad</option>
               <option value="Bhandara">Bhandara</option> 
               <option value="Beed">Beed</option>
               <option value="Buldhana">Buldhana</option>
               <option value="Chandrapur">Chandrapur</option>
               <option value="Dhule">Dhule</option>
               <option value="GadChiroli">GadChiroli</option>
               <option value="Gondiya">Gondiya</option>
               <option value="Hingoli">Hingoli</option> 
               <option value="Jalgaon">Jalgaon</option>
               <option value="Jalna">Jalna</option>
               <option value="Kolhapur">Kolhapur</option>
               <option value="Latur">Latur</option> 
               <option value="Mumbai">Mumbai</option>
               <option value="Mumbai Suburban">Mumbai Suburban</option>
               <option value="Nagpur">Nagpur</option>   
               <option value="Nanded">Nanded</option>
               <option value="Nandurbar">Nandurbar</option>
               <option value="Nashik">Nashik</option>
               <option value="Osmanabad">Osmanabad</option> 
               <option value="Parbhani">Parbhani</option>
               <option value="Pune">Pune</option>
               <option value="Raigad">Raigad</option>
               <option value="Ratnagiri">Ratnagiri</option>   
               <option value="Sangli">Sangli</option>
               <option value="Satara">Satara</option>
               <option value="Sindhudurg">Sindhudurg</option>
               <option value="Solapur">Solapur</option> 
               <option value="Thane">Thane</option>
               <option value="Wardha">Wardha</option>
               <option value="Washim">Washim</option>   
               <option value="Yavatmal">Yavatmal</option>   
         </select>
      </div>
      <div class="form-row">
         <div class="input-data">
            <input type="tel"name="mobile" required>
            <div class="underline"></div>
            <label for="mobile">Mobile</label>
         </div>
      </div>
      <div class="form-check1">
         <input type="checkbox" class="form-check-input1" required />
         <label class="form-check-label" for="Ornithine"> I accept that all the information I have entered is correct and authenticate.
         </label>
       </div>
          <div class="form-row submit-btn center-align">
             <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="Submit" >
               </div>  
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="reset" value="Reset">
                 </div>          
         </div>

      </form>
      
      </div>
     
   </body>
</html>