<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Mobile Number</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/verifyotp.css" />
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <form action="/verify" method="POST">
          <h3>Please enter 6-digit verification code we sent via SMS</h3>
          <small
            >We want to make sure it's you before we make your seller
            profile</small
          >
          <input type="text" name="otp" required />
          <div class="buttons">
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
          </div>
        </form>
      </div>

      {% if success %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Verification Successful!</strong> Your seller account is created
        successfully.
        <a href="/medicine"> Click here </a>
        to go back to the website.

        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% if success == 0 %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Verification Failed!</strong> Please enter correct OTP that we
        have sent to your mobile number via SMS and try again.

        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
